body {
    background-color: black;
    color: white;
    font-family: Chalkboard, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
}


/* Header Section */

.header {
    text-align: center;
    height: 100vh;
}

.title, .subtitle, .weiter-button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.title {
    font-size: 55px;
}

.subtitle {
    font-size: 36px;
    margin-top: 75px;
}

.weiter-button {
    margin-top: 150px;
    background-color: green;
    padding: 20px 30px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}


/* Start Section */

.start {
    height: 100vh;
}

.start-video {
    position: relative;
    padding-bottom: 56%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

@media (max-width: 800px) {
    .start-video iframe,
    .start-video object,
    .start-video embed {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
}

@media (min-width: 800px) {
    .start-video iframe,
    .start-video object,
    .start-video embed {
        position: absolute;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 70%;
        max-height: 700px;
    } 
}

.start-buttons {
    display: flex;
    justify-content: center;
}

.starter {
    margin-right: 20px;
    background-color: #42B51A;
    padding: 20px 30px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    width: 100px;
    text-align: center;
}

.profi {
    margin-left: 20px;
    background-color: #E63092;
    padding: 20px 30px;
    color: white;
    border-radius: 10px;
    text-decoration: none; 
    width: 100px;
    text-align: center;
}

@media (min-width: 1700px) {
    .start-buttons {
        margin-top: -100px;
    }
}

@media (max-width: 800px) {
    .start-buttons {
        margin-top: 100px;
    }
}

@media (min-width: 2200px) {
    .start-buttons {
        margin-top: -400px;
    }
}